@import url(./reset.css);

/* main slyles */

* {
    box-sizing: border-box;
}

:root {
    --icon-size-medium: 50px;
    --icon-size-small: 30px;
    --header-height-size: 60px;
}

a {
    text-decoration: none;
}

body {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    visibility: hidden;
    position: absolute;
}

.logo {
    width: 75px;
    height: 100%;
    background: #e81d55;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__image {
    height: var(--icon-size-medium);
    width: var(--icon-size-medium);
    background: url(./assets/icons/logoS13.svg) no-repeat;
}


.header,
.footer {
    height: var(--header-height-size);
    background: #3b3358;
    display: flex;
    align-items: center;
    color: white;
}


/* HEADER */

.header__title {
    width: 150px;
    font-family: "helvetica-black",Arial,Helvetica,sans-serif;
    padding: 10px;
    text-align: left;
    opacity: 0.5;
}

.header__icon-wrapper {
    width: var(--header-height-size);
    height: var(--header-height-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px white solid;
    border-right: 1px white solid;
}

.news-switch__image {
    height: var(--icon-size-small);
    width: var(--icon-size-small);
    background: url(./assets/icons/view-list.svg) no-repeat;
}
.header__menu {
    height: 100%;
    color: white;
    display: flex;
    width: calc(100% - 75px - 150px - 120px);
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.header__menu a {
    color: white;
}

.login-field__image {
    height: var(--icon-size-small);
    width: var(--icon-size-small);
    background: url(./assets/icons/login.svg) no-repeat;
}

.search-field__image {
    height: var(--icon-size-small);
    width: var(--icon-size-small);
    background: url(./assets/icons/search.svg) no-repeat;
}

/* MAIN BLOCK */

.news {
    margin: 1rem 0;
    padding: 0 1rem;
    display: flex;
    column-gap: 1rem;
}
.news__main-block {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.main-news {
}
.main-news__post {
    display: flex;
    height: 200px;
    column-gap: 1rem;
}
.main-news__image-block img {
    width: 200px;
    height: auto;
}
.news-post {
}
.news-post__views-counter {
    display: inline-block;
    background-color: #e81d55;
    color: white;
    padding: 5px;
}
.news-post__post-title {
    color:#e81d55;
    font-weight: 700;
}
.news-post__post-description {
    color: #000000;
    font-weight: 300;
}

/* ADDITIONAL BLOCK */

.additional-block {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.additional-news__post {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-auto-rows: auto;
}

.news-post__post-description {
    grid-column-start: 1;
    grid-column-end: 3;
}

.additional-news__counter {
    align-self: start;
    justify-self: start;
}

/* FOOTER */

.footer__title {
    width: 40%;
    font-size: 0.7rem;
    padding: 10px;
}

.footer__title > span:first-child {
    font-size: 0.9rem;
    font-weight: 700;
}

.footer__title > span:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 700;
}

.footer__title > span:nth-child(3) {
    opacity: 0.5;
}

.footer__social-media-menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.social-media-menu__item div {
    height: var(--icon-size-small);
    width: var(--icon-size-small);
    background: url(./assets/icons/vk.svg) no-repeat;
}

.footer__mail-ru {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__counter {
}